.u-section-1 {
  min-height: 638px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 750px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 120px 30px 80px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-image-1 {
  min-height: 750px;
  background-image: url("images/4150560588773dc249a42c98d7d18afda9b8c420df8d08097e5d7cd981797ae07397b6073c01ddf841ea21c8d169520569e5224a443f9d10d271c4_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 526px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 618px;
  }

  .u-section-1 .u-image-1 {
    min-height: 618px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 403px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 571px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 903px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 523px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 762px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 513px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 337px;
  }
}